
<footer class="hidden-print">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4">
        <h4>Participate in the group</h4>
        <p>
          Influence Mappers is an open community, please <a href="/community/">join the discussion
          and contribute to our work</a>.
        </p>
        <p class="socialmedia">
          <a href="https://twitter.com/MapInfluence"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
          <a href="https://twitter.com/MapInfluence">
            MapInfluence
          </a>
          &middot;
          <a href="https://www.facebook.com/Influence-Mapping-914656895263044/"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
          <a href="https://www.facebook.com/Influence-Mapping-914656895263044/">
            Facebook
          </a>
          &middot;
          <a href="http://github.com/influencemapping"><i class="fa fa-github-square" aria-hidden="true"></i></a>
          <a href="http://github.com/influencemapping">
            GitHub
          </a>
        </p>
      </div>
      <div class="col-md-4">
        <h4>Partners and supporters</h4>
        <p>
          InfluenceMapping is made possible by the generous support of the <a href="Influencemapping%20is made possible by the generous support of the Open Society Foundation, and is a partnership between The American Assembly at Columbia University, Open Corporates, OpenNorth, LittleSis and Poderopedia." target="_blank">Open Society Foundation</a>, and is a partnership between <a href="http://americanassembly.org/" target="_blank">The American Assembly</a>, <a href="http://littlesis.org/" target="_blank">LittleSis</a>, <a href="https://opencorporates.com/" target="_blank">OpenCorporates</a>, <a href="http://www.opennorth.ca/" target="_blank">OpenNorth</a>,  and <a href="http://www.poderopedia.org/" target="_blank">Poderopedia</a>.
        </p>
      </div>
      <div class="col-md-4">
        <h4>Copyright and feedback</h4>
        <p>
          This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a>.
        </p>
        <p class="copyright">
          Notice any omissions or problems in the content? Let us know at info@influencemapping.org
        </p>
      </div>
    </div>
  </div>
</footer>
