<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse"
        data-target="#mainmenu">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">
        <span><img src="/assets/images/opennews-favicon.ico"></span>
        Toolbox <span style="color:red;">(Beta)</span>
      </a>
    </div>

    <div class="collapse navbar-collapse" id="mainmenu">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/practices.html">Practices</a></li>
        <li><a href="/projects.html">Projects</a></li>
        <li><a href="/tools.html">Tools</a></li>
        <li><a href="/case_studies">Case Studies</a></li>
        <li><a href="/about">About</a></li>
      </ul>
    </div>
  </div>
</nav>
