/*
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.8em;
    font-weight: 300;
}

.claim {
    font-family: 'Bree Serif', serif;
    font-size: 1.2em;
}

p, li {
    line-height: 1.7em;
}
*/

.container {
    max-width: 40em;
}

.navbar-custom .nav li a:hover, .navbar-custom .nav li a:focus {
    color: #0085a1;
}

.navbar-custom .nav li a {
    color: #404040;
}

.navbar-custom .navbar-brand {
    color: #404040;
}

.intro-header .site-heading, .intro-header .post-heading, .intro-header .page-heading {
    color: #404040;
}

.intro-header  hr.small {
    border-color: : #404040;
}

#main a {
    text-decoration: underline;
}

ul {
    list-style-type: square;
}

.logo {
    text-align: center;
    padding: 3em;
}
/*
.join {
    text-align: center;
    font-weight: 900;
    font-family: 'Bree Serif', serif;
    font-size: 1.4em;
    padding: 1em;
}
*/
.carousel img {
    width: 200px;
}

.carousel div.panel {
    margin: 10px;
    width: 350px;
}

.carousel .panel-body, .carousel .panel-footer {
  max-height: 0;
  padding: 0;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear, max-height 0.5s linear;
}

.carousel .slick-current .panel-body, .carousel .slick-current .panel-footer {
  padding: 15px;
  max-height:500px;
  visibility: visible;
  opacity: 1;
}

:focus {
    outline: none;
}