body {
    padding-top: 60px;
}
/*

.claim {
    font-family: 'Bree Serif', serif;
    font-size: 1.2em;
}

p, li {
    line-height: 1.7em;
}
*/

.container {
    max-width: 40em;
}

/*
.intro-header .site-heading, .intro-header .post-heading, .intro-header .page-heading {
    color: #404040;
}

.intro-header  hr.small {
    border-color: #404040;
}
*/

dt {
  margin-top: 10px;
}

#main a {
    text-decoration: underline;
}

#main nav a {
    text-decoration: none;
}

.anchorjs-link {
  transition: all .25s linear;
  text-decoration: none !important;
}

*:hover > .anchorjs-link {
  margin-left: -1.125em !important;
}

#case_studies img, #page #main img {
  width:100%;
}

ul {
    list-style-type: square;
}

.logo {
    text-align: center;
    padding: 3em;
}
/*
.join {
    text-align: center;
    font-weight: 900;
    font-family: 'Bree Serif', serif;
    font-size: 1.4em;
    padding: 1em;
}
*/
.carousel img {
    width: 200px;
}

.carousel div.panel {
    margin: 10px;
    width: 350px;
}

.carousel .panel-body, .carousel .panel-footer {
  max-height: 0;
  padding: 0;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear, max-height 0.5s linear;
}

.carousel .slick-current .panel-body, .carousel .slick-current .panel-footer {
  padding: 15px;
  max-height:500px;
  visibility: visible;
  opacity: 1;
}

:focus {
    outline: none;
}

.navbar-fixed-top {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-color: #fff;
}

.navbar-fixed-top .navbar-brand {
  font-weight: 800;
}
.navbar-fixed-top .nav li a {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 800;
  letter-spacing: 1px;
}

@media only screen and (min-width: 768px) {
  .navbar-fixed-top {
    border-bottom: 1px solid #eee;
  }
  .navbar-fixed-top .navbar-brand {
    color: white;
    padding: 20px;
  }
  .navbar-fixed-top .nav li a {
    color: white;
    padding: 20px;
  }

  .navbar-fixed-top .nav .dropdown li a {
    color: #777;
    padding: 20px;
  }

  .navbar-fixed-top .nav .dropdown li a:hover{
    color: black;
    padding: 20px;
  }

  .navbar-fixed-top .nav li a:hover,
  .navbar-fixed-top .nav li a:focus {
    color: rgba(255, 255, 255, 0.8);
  }



}

.navbar-fixed-top .navbar-brand:hover, .navbar-fixed-top .nav li a:hover, .navbar-fixed-top .nav li a:focus {
    color: #0085a1;
}

.navbar-fixed-top .navbar-brand , .navbar-fixed-top .nav li a {
    color: #404040;
}
