---
---

$bg-gray-light: #f4f4f4;
$bg-gray-medium: #e0e0e0;
$bg-gray-dark: #ccc;
$fg-gray-dark: #333;

$img-red: #f26c51;
$img-color-light: #92dadd;
$img-color: #2aa3b2;
$img-color-shaded: #23838f;

$base-font-size: 12px;

$sans-serif-font: Lato, 'Helvetica Neue', Arial, sans-serif;
$serif-font: 'Domine', Georgia, serif;

@mixin serif-text-area {
    font-family: $serif-font;
    font-size: $base-font-size * 1.4;
    line-height: 1.6em;
}

@mixin display-flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

@mixin signficant {
    text-transform: uppercase;
    font-weight: bolder;
    letter-spacing: 1px;
}

@mixin flex-item($args) {
    -ms-flex: $args;
    -webkit-flex: $args;
    flex: $args;
}

@mixin headers {
    h1, h2, h3, h4, h5 {
        font-family: $sans-serif-font;
        line-height: 1.6em;
        @include signficant;

        &.separator {
            text-align: center;
            color: $bg-gray-dark;
            margin-top: $base-font-size * 2;
            margin-bottom: $base-font-size * 3;
        }

        &.page-heading {
            text-align: center;
        }
    }

    h1 {
        font-size: $base-font-size * 2.6;
        margin-bottom: $base-font-size * 3;
    }

    h2 {
        font-size: $base-font-size * 2.3;
    }

    h3 {
        font-size: $base-font-size * 2;
    }

    h4 {
        font-size: $base-font-size * 1.7;
    }

    h5 {
        font-size: $base-font-size * 1.4;
    }
}



body {
    background-color: $img-color-light;
    font-family: $sans-serif-font;
    font-size: $base-font-size * 1.4;

    @include headers;
}

a {
    color: $img-color;

    &:hover {
        color: $img-color-shaded;
    }
}

.navbar.navbar-default {
    background-color: white;
    min-height: $base-font-size * 4;
    border-top: 3px solid $img-color-light;

    .navbar-brand {
        img.logo {
            max-width: $base-font-size * 3;
            max-height: $base-font-size * 3;
            margin-top: $base-font-size * -0.5;
            padding-right: $base-font-size;
            display: inline-block;
        }

        color: $fg-gray-dark;
        font-size: $base-font-size * 1.2;
        @include signficant;
    }

    #mainmenu {
        li {                
            a {
                color: $fg-gray-dark;
                font-size: $base-font-size * 1.2;
                @include signficant;
                
            }
        }
    }
}

footer {
    padding-top: $base-font-size * 4;
    padding-bottom: $base-font-size * 4;
    font-size: $base-font-size * 1.2;

    color: $fg-gray-dark;

    a {
        color: $fg-gray-dark;
        text-decoration: underline;
    }

    .socialmedia {
        a {
            text-decoration: none;
            font-weight: bolder;
        }
    }
}

#airlock {
    background-color: $bg-gray-light;
    padding-bottom: $base-font-size * 2;
   
}

#page {
    padding-top: 70px;
    
    &.no-nav {
        padding-top: $base-font-size * 2;
    }
}

#content {
    @include serif-text-area;
    @include headers;

    img {
        max-width: 100%;
        margin-top: $base-font-size;
        margin-bottom: $base-font-size;
    }
}

#main {
    p, li {
        @include serif-text-area;
    }
}

/// EDIT BAR

.edit-bar {
    margin-top: $base-font-size;
    text-align: left;
    background-color: $img-red;
    color: white;

    a {
        display: inline-block;
        background-color: darken($img-red, 10%);
        color: white;
        padding: $base-font-size;

        &:hover {
            background-color: $img-color-light;
            color: #333;
            text-decoration: none;
        }
    }

    span {
        padding-left: 2em;
    }
}

/// HOME PAGE

.intro-header {
    min-height: $base-font-size * 23;
    padding-top: $base-font-size * 8;
    // margin-bottom: $base-font-size * -4;
    color: white;
    text-align: center;
    @include serif-text-area;
    
    h1 {
        // @include serif-text-area;    
        font-size: 2.7em;
        margin-bottom: 0.2em;
    }

    /*
    background-image: url('/assets/images/logo.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    */
    background-color: $img-red;

}

/// TEASER BOXES

.teaser-box {
    background-color: $bg-gray-medium;
    padding: $base-font-size;
    padding-top: $base-font-size * 2;
    margin-bottom: $base-font-size * 2;
    margin-top: $base-font-size * 1;
    text-align: center;

    h3, h4, h5 {
        margin-top: $base-font-size * -2;
        margin-left: $base-font-size * -1;
        margin-right: $base-font-size * -1;
        margin-bottom: $base-font-size * 1;
        padding: $base-font-size;
        background-color: $bg-gray-dark;

        i {
            display: block;
            font-size: 4em;
            padding-bottom: 0.1em;
            color: $bg-gray-medium;
        }

        a {
            color: #333;
            &:hover {
                text-decoration: none;
            }
        }
    }

    h5 {
        text-align: left;
    }

    img {
        max-width: 100%;
        height: 12em;
        border: 2px solid $bg-gray-dark;
    }

    i.fa-big {
        display: block;
        font-size: 6em;
        padding-bottom: 0.1em;
        color: $bg-gray-light;
    }

    .action {
        a {
            display: inline-block;
            background-color: $img-red;
            color: white;
            letter-spacing: 1px;
            font-weight: bold; 
            padding: $base-font-size;
            padding-left: $base-font-size * 2;
            padding-right: $base-font-size * 2;
            margin-bottom: $base-font-size;
            margin-top: $base-font-size;

            &:hover {
                text-decoration: none;
                color: black;
                background-color: $img-color-light;
            }
        }
    }
}


/// CASE STUDIES

.table.table-case-study {
    background-color: $bg-gray-light;
    td {
        padding-left: 2em;
    }
}


/// BLOG LISTINGS

.blog-post-index {
    @include display-flex;
    flex-flow: row wrap;
    // align-items: flex-end;
    // justify-content: space-between;

    &.wide {
        .blog-box {
            min-width: 80%;
        }
    }

    .blog-box {
        @include flex-item(1 0 45%);
        background-color: white;
        padding: $base-font-size * 2;
        padding-top: $base-font-size;
        margin-right: $base-font-size * 2;
        margin-bottom: $base-font-size * 2;

        @media (max-width: 40em) {
          width: 100%;
        }

        h3 {
            a { 
                color: #333;

                &:hover {
                    color: $img-color-shaded;
                    text-decoration: none;
                }
            }
        }

        p {
            @include serif-text-area;
        }

        .read-more {
            @include signficant;
        }
    }
}

/// BLOG LISTINGS

.group-partner {
    display: block;
    //background-color: $img-color-light;
    background-color: $img-color-light;
    padding-left: $base-font-size;
    padding-right: $base-font-size;
    padding-bottom: $base-font-size;
    font-family: $sans-serif-font !important;

    a {
        color: #333;
        text-decoration: underline;
    }

    .partner-image {
        display: block;
        max-width: 50%;
        margin-top: $base-font-size * 2;
        margin-bottom: $base-font-size;
    }
}


.group-founder {
    margin-bottom: $base-font-size * 3;

    img {
        float: right;
        max-width: $base-font-size * 14;
        margin-left: $base-font-size;
        margin-bottom: $base-font-size;
    }
}

/// TOOLBOX

.get-the-report {
    font-family: $sans-serif-font !important;
    background-color: $img-color-light;
    color: #333;
    padding: $base-font-size * 1;

    a {
        color: #333;
    }
}

/// SIDE BAR NAV

#main .side-nav {
    h1, h2, h3, h4 {
        margin-top: 0;
    }

    ul {
        padding: 0;
        padding-left: 1.2em;
        margin: 0;
        list-style-type: square;

        li {
            font-family: $sans-serif-font;
        }
    }

    strong {
        font-family: $sans-serif-font;
        display: block;
        margin-top: $base-font-size * 1;
        margin-bottom: $base-font-size * 1;
    }

}
