<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse"
        data-target="#mainmenu">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/influencemapping-toolbox/">
        <span><img src="/influencemapping-toolbox/assets/images/opennews-favicon.ico"></span>
        Toolbox
      </a>
    </div>

    <div class="collapse navbar-collapse" id="mainmenu">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/influencemapping-toolbox/practices.html">Practices</a></li>
        <li><a href="/influencemapping-toolbox/projects.html">Projects</a></li>
        <li><a href="/influencemapping-toolbox/tools.html">Tools</a></li>
        <li><a href="/influencemapping-toolbox/case_studies.html">Case Studies</a></li>
        <li><a href="/influencemapping-toolbox/about.html">About</a></li>
      </ul>
    </div>
  </div>
</nav>
