<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{ title }} - Influence Mapping Toolbox</title>
    <meta name="author" content="Jun Matsushita" />
    <meta name="description" content="{{description}}" />
    <meta name="keywords" content="influence mapping" />

    <link href="/influencemapping-toolbox/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href='/influencemapping-toolbox/assets/css/font.css' rel='stylesheet' type='text/css'>
    <link href='/influencemapping-toolbox/assets/css/slick.css' rel='stylesheet' type='text/css'>
    <link href='/influencemapping-toolbox/assets/css/slick-theme.css' rel='stylesheet' type='text/css'>
    <link href="/influencemapping-toolbox/assets/css/style.css" rel='stylesheet' type='text/css'>
    <!--[if (!IE)|(gte IE 8)]><!-->
      <link href="/influencemapping-toolbox/assets/css/visualsearch-datauri.css" media="screen" rel="stylesheet" type="text/css" />
    <!--<![endif]-->
    <!--[if lte IE 7]><!-->
      <link href="/influencemapping-toolbox/assets/css/visualsearch.css" media="screen" rel="stylesheet" type="text/css" />
    <!--<![endif]-->
    <link rel="shortcut icon" href="/influencemapping-toolbox/assets/images/opennews-favicon.ico">
  </head>
  <body>
    <div id="page">
      {% include "layouts/includes/nav.html" %}
        <div id="airlock" class="container">
          {% block main %}
          {{ contents | safe }}
          {% endblock %}
        </div>
    </div>

    <footer class="hidden-print">
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            
          </div>
          <div class="col-md-4">
            
          </div>
        </div>
      </div>
    </footer>

    {% include "layouts/includes/piwik.html" %}
    <script src="/influencemapping-toolbox/assets/js/dependencies.js"></script>
    <script src="/influencemapping-toolbox/assets/js/jquery-migrate-1.2.1.min.js"></script>
    <script src="/influencemapping-toolbox/assets/js/bootstrap.min.js"></script>
    <script src="/influencemapping-toolbox/assets/js/lunr.min.js"></script>
    <script src="/influencemapping-toolbox/assets/js/nunjucks.min.js"></script>
    <script src="/influencemapping-toolbox/assets/js/visualsearch.js"></script>
    <script src="/influencemapping-toolbox/assets/js/anchor.min.js"></script>
    <script src="/influencemapping-toolbox/assets/js/slick.min.js"></script>
    {% block js %}
    <script type="text/javascript">
      $(document).ready(function(){
        $('.content').slick({
          slidesToShow: 1,
          slidesToScroll: 1,
          arrows: false,
          fade: true,
          asNavFor: '.carousel'
        });
        $('.carousel').slick({
          infinite: true,
          slidesToShow: 3,
          slidesToScroll: 3,
          dots: true,
          arrows: true,
          asNavFor: '.content',
          centerMode: true,
          focusOnSelect: true
        });
        anchors.options = {
          placement: 'left'
        }
        anchors.add('h2,h3,dt');
      });
    </script>
    {% endblock %}
  </body>
</html>
