{% extends "layouts/default.html" %}

{% block hero %}
<header class="intro-header" style="background-image: url('/influencemapping-toolbox/assets/images/logo.png')">
<div class="container-fluid">
<div class="row">
<div class="col-lg-12 col-md-12">
<div class="site-heading">
<h1>Influence Mapping Toolbox</h1>
<hr class="small">
<span class="subheading">Learn from Influence Mapping Practicionners</span>
</div>
</div>
</div>
</div>
</header>
{% endblock %}

{% block main %}
{{ contents | safe }}
<div class="row">
  <div class="col-md-12" role="main">
    <div class="form-group">
      <div id="search_box_container"></div>
      <p id="total-results"></p>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12" role="main">
    <div class="search-results"></div>
  </div>
</div>
{% endblock %}

{% block js %}
<script type="text/javascript">
$( document ).ready(function($) {

    nunjucks.configure('assets/templates', { autoescape: true });
    initFacets();

    var visualSearch;

    var tags,
        index,
        store = $.getJSON("searchMeta.json"),
        data = $.getJSON("searchIndex.json"),
        res = {};

    data.then(function(data) {
      store.then(function(store) {

        tags = _.chain(store)
          .reduce(function(memo, val) {
              if (val.tags) memo.push(val.tags);
              return memo;
            }, [])
          .unique()
          .value();

        visualSearch = VS.init({
          query: '{{ query }}',
          container : $('#search_box_container'),
          placeholder : 'Enter search terms and filters', 
          callbacks : {
            search       : function(query, searchCollection) {
              console.log(query)
              console.log(searchCollection)
              var results;
              var term = searchCollection.models.find(function(val) {
                return val.attributes.category == "text"
              })

              var facets = {};
              _.each(searchCollection.models, function(val,key) {
                key = val.attributes.category;
                if ( key != "text" ) facets[key] = val.attributes.value;
              })

              if (!term) {
                var array = $.map(store, function(value, index) {
                    return [$.extend({},value, {ref: index})];
                });
                faceted_array = array.filter(function(val){
                  faceted = _.every(facets, function(facet, key) {
                    return val[key] ? val[key].toUpperCase() == facet.toUpperCase() : false;
                  })
                  return faceted;
                })
                results_store = prepareResults(faceted_array,store)
                res = renderResults(results_store)
              } else {
                results = index.search(term.attributes.value);
                faceted_array = results.filter(function(val){
                  faceted = _.every(facets, function(facet, key) {
                    return val[key] ? val[key].toUpperCase() == facet.toUpperCase() : false;
                  })
                  return faceted;
                })
                results_store = prepareResults(faceted_array,store)
                res = renderResults(results_store)
              }

              $('.search-results').empty().append( res.nb ?
                res.html : $('<p><strong>No results found</strong></p>')
              );

              $('.total-results').text(res.nb);

            },
            facetMatches : function(callback) {
              callback([
                { 
                  label: 'Type', 
                  value: 'content_type',
                  category: 'general'
                }
              ,
                { 
                  label: 'Audience',
                  value: 'target_audience',
                  category: 'general'
                }
              ,
                { 
                  label: 'Open Source',
                  value: 'open_source',
                  category: 'general'
                }
              ,
                { label: 'Tags',
                  value: 'tags',
                  category: 'general'
                }
              ,
                { 
                  label: 'plan',
                  value: 'plan',
                  category: 'practice'
                }
              ,
                { 
                  label: 'collect', 
                  value: 'collect',
                  category: 'practice' 
                }
              ,
                { 
                  label: 'organise', 
                  value: 'organise',
                  category: 'practice' 
                }
              ,
                { 
                  label: 'publish',   
                  value: 'publish',
                  category: 'practice' 
                }
              ]);
            },
            valueMatches : function(facet, searchTerm, callback) {
              switch (facet) {
                case 'content_type':
                  callback([
                    { value: 'project', label: 'Project' },
                    { value: 'tool',   label: 'Tool' },
                    { value: 'practice',   label: 'Practice' }
                  ]);
                  break;
                case 'target_audience':
                  callback(['user', 'data user', 'developer']);
                  break;
                case 'open_source':
                  callback(['yes', 'no']);
                  break;
                case 'tags':
                  callback(tags);
                  break;
              }
            }
          }
        });
        window.visualSearch = visualSearch;

        visualSearch.searchBox.setQuery('{{ query }}')
        visualSearch.options.callbacks.search(visualSearch.searchQuery, visualSearch.searchQuery);

      })
    })

    data.then(function(data){
        // create index
        index = lunr.Index.load(data)
        store.then(function(store) {
          var array = $.map(store, function(value, index) {
              return [$.extend({},value, {ref: index})];
          });
          results_store = prepareResults(array,store)
          res = renderResults(results_store)
        });

        $('.search-results').empty().append( res.nb ?
          res.html : $('<p><strong>No results found</strong></p>')
        );

        $('.total-results').text(res.nb);

    });

});

function prepareResults(results, store) {
    var results_store = results
    .map(function(result){
      return $.extend({}, store[result.ref], { path : result.ref.replace(".md", ".html"), score: result.score });
    })
    .sort(function (a, b) {
      return b.score - a.score
    })

    return results_store;
}

function renderResults(results) {
  return {
    results: results,
    html: nunjucks.render('results.html', { results: results }),
    nb: results.length
  }
}

function initFacets(){
  $('#target_audience_criteria :checkbox').prop('checked', true);
  $('#all_target_audience').on('click', function(){
    $('#target_audience_criteria :checkbox').prop('checked', $(this).is(':checked'));
  });
}
</script>
{% endblock %}
