{% extends "layouts/default.html" %}

{% block main %}
{{ contents | safe }}
<div class="row">
  <div class="col-md-12" role="main">
    <div class="form-group">
      <div>
        <label class="sr-only" for="searchbox">Search</label>
        <input type="text" class="form-control" id="searchbox" placeholder="Search &hellip;">
        <span class="glyphicon glyphicon-search search-icon"></span>
      </div>
      <p id="total-results"></p>
    </div>
  </div>
  <div class="col-md-3">
    <div class="form-group">
      <fieldset id="practice_criteria">
        <legend>Practice</legend>
      </fieldset>
    </div>  
  </div>
  <div class="col-md-3">
    <div class="form-group">
      <fieldset id="usage_audience_criteria">
        <legend>Usage Audience</legend>
      </fieldset>
    </div>  
  </div>
  <div class="col-md-3">
    <div class="form-group">
      <fieldset id="installation_audience_criteria">
        <legend>Installation Audience</legend>
      </fieldset>
    </div>  
  </div>
  <div class="col-md-3">
    <div class="form-group">
      <fieldset id="open_source_criteria">
        <legend>Open Source</legend>
      </fieldset>
    </div>  
  </div>
</div>
<div class="row">
  <div class="col-md-12" role="main">
    <table class="table table-striped">
      <thead><td>Name</td><td>Description</td></thead>
      <tbody class="search-results" id="results"></tbody>
    </table>
  </div>
</div>
<script id="result-template" type="text/html">
<tr>  
  <td><a href="<%= path %>"><%= name %></a></td>
  <td><%= description %></td>
</tr>
</script>
{% endblock %}

{% block js %}
<script type="text/javascript">
$( document ).ready(function($) {

    nunjucks.configure('assets/templates', { autoescape: true });
    initFacets();

    var tags,
        index,
        store = $.getJSON("searchMeta.json"),
        data = $.getJSON("searchIndex.json"),
        meta = {}
        res = {};

    data.then(function(data) {
      store.then(function(store) {

        tags = _.chain(store)
          .reduce(function(memo, val) {
              if (val.tags) memo.push(val.tags);
              return memo;
            }, [])
          .unique()
          .value();

        meta = _.reduce(store, function(memo, val) {
              var cur = val;
              _.chain(val)
                .keys(val)
                .filter(function(v){return (cur[v]!="" && v!="name" && v!="description" && v!="keywords" && v!="tags");})
                .each(function(v,k, l) {
                  if (!memo[v]) memo[v] = [] 
                  memo[v].push(cur[v])
                })
                .value();
              return memo;
            }, [])

        _.chain(meta)
          .keys()
          .each(function(k){
            meta[k] = _.unique(meta[k]);
            if (k!="content_type")
            _.each(meta[k], function(v) {
              $('#' + k + '_criteria').append(
                '<div class="checkbox">' +
                ' <label>' +
                '    <input type="checkbox" value="' + v + '">' +
                '    <span>' + v +'</span>' + 
                '  </label>' +
                '</div>');
            });
          })

        var ks = _.keys(store);
        var results = _.chain(ks)
                       .filter(function(k){ return store[k].content_type=="tool"})
                       .map(function(k) {
                         // add store key of object as path key of array object
                         var ret = _.extend( { path: k } , store[k] );
                         return ret;
                       })
                       .value()

        var FJS = FilterJS(results, '#results', {
          template: '#result-template',
          search: {ele: '#searchbox'},
          //search: {ele: '#searchbox', fields: ['runtime']}, // With specific fields
          callbacks: {
            afterFilter: function(result){
              $('#total_results').text(result.length);
            }
          }
          //appendToContainer: appendToContainer
        });

        FJS.addCriteria({field: 'content_type', ele: '#content_type_criteria input:checkbox'});

        _.chain(meta)
         .keys()
         .each(function(k){
            FJS.addCriteria({field: k, ele: '#' + k + '_criteria input:checkbox'});
          })

      })
    })
/*
    data.then(function(data){
        // create index
        index = lunr.Index.load(data)
        store.then(function(store) {
          var array = $.map(store, function(value, index) {
              return [$.extend({},value, {ref: index})];
          });
          results_store = prepareResults(array,store)
          res = renderResults(results_store)
        });

        $('.search-results').empty().append( res.nb ?
          res.html : $('<p><strong>No results found</strong></p>')
        );

        $('.total-results').text(res.nb);

    });
*/
});

function prepareResults(results, store) {
    var results_store = results
    .map(function(result){
      return $.extend({}, store[result.ref], { path : result.ref.replace(".md", ".html"), score: result.score });
    })
    .sort(function (a, b) {
      return b.score - a.score
    })

    return results_store;
}

function renderResults(results) {
  return {
    results: results,
    html: nunjucks.render('results.html', { results: results }),
    nb: results.length
  }
}

function initFacets(){
  $('#content_type_criteria :checkbox').prop('checked', true);
  $('#content_type_audience').on('click', function(){
    $('#content_type_criteria :checkbox').prop('checked', $(this).is(':checked'));
  });

}
</script>
{% endblock %}
