{% extends "layouts/default.html" %}

{% block main %}
{{ contents | safe }}
<div class="row small">
  <div class="col-md-12" role="main">
    <div class="form-group">
      <div>
        <label class="sr-only" for="searchbox">Search</label>
        <input type="text" class="form-control" id="searchbox" placeholder="Search &hellip;">
        <span class="glyphicon glyphicon-search search-icon"></span>
      </div>
    </div>
  </div>
<!--  <div class="col-md-3">
    <div class="form-group">
      <fieldset id="tool_features">
      <legend>Tool Features</legend>
        <div class="checkbox">
          <label>
            <input id="tool_features_maps" type="checkbox" value="Yes">
            <span>Data Modeling</span>
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input id="tool_features_maps" type="checkbox" value="Yes">
            <span>Bulk Upload</span>
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input id="tool_features_maps" type="checkbox" value="Yes">
            <span>Displays Lists</span>
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input id="tool_features_maps" type="checkbox" value="Yes">
            <span>Network Viz</span>
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input id="tool_features_maps" type="checkbox" value="Yes">
            <span>Network Editing</span>
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input id="tool_features_maps" type="checkbox" value="Yes">
            <span>Network Analysis</span>
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input id="tool_features_maps" type="checkbox" value="Yes">
            <span>Embeddable</span>
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input id="tool_features_maps" type="checkbox" value="Yes">
            <span>Document Viz</span>
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input id="tool_features_maps" type="checkbox" value="Yes">
            <span>Timelines</span>
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input id="tool_features_maps" type="checkbox" value="Yes">
            <span>Maps</span>
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input id="tool_features_development" type="checkbox" value="Yes">
            <span>Development</span>
          </label>
        </div>
      </fieldset>
    </div>  
  </div>-->
  <div class="col-md-3">
    <div class="form-group">
      <fieldset id="feature_multicriteria">
      <legend>Tool Features</legend>
      </fieldset>
    </div>  
  </div>
  <div class="col-md-3">
    <div class="form-group">
      <fieldset id="practice_criteria">
        <legend>Practice</legend>
      </fieldset>
    </div>  
  </div>
  <div class="col-md-3">
    <div class="form-group">
      <fieldset id="usage_audience_criteria">
        <legend>Usage Audience</legend>
      </fieldset>
    </div>  
  </div>
  <div class="col-md-3">
    <div class="form-group">
      <fieldset id="deployment_criteria">
        <legend>Deployment</legend>
      </fieldset>
    </div>  
  </div>
  <div class="col-md-3">
    <div class="form-group">
      <fieldset id="installation_audience_criteria">
        <legend>Installation Audience</legend>
      </fieldset>
    </div>  
  </div>
  <div class="col-md-3">
    <div class="form-group">
      <fieldset id="open_source_criteria">
        <legend>Open Source</legend>
      </fieldset>
    </div>  
  </div>
  <div class="col-md-3">
    <div class="form-group">
      <fieldset id="programming_language_criteria">
        <legend>Programming Language</legend>
      </fieldset>
    </div>  
  </div>
</div>
<div class="row">
  <div class="col-md-12" role="main">
    <table class="table table-striped">
      <caption id="total_results" class="small"></caption>
      <thead><td><strong>Name</strong></td><td><strong>Description</strong></td></thead>
      <tbody class="search-results" id="results"></tbody>
    </table>
  </div>
</div>
<script id="result-template" type="text/html">
<tr>  
  <td><a href="<%= path %>"><%= name %></a></td>
  <td><%= description %></td>
</tr>
</script>
{% endblock %}

{% block js %}
<script type="text/javascript">
$( document ).ready(function($) {

    nunjucks.configure('assets/templates', { autoescape: true });
    initFacets();

    var tags,
        index,
        store = $.getJSON("searchMeta.json"),
        data = $.getJSON("searchIndex.json"),
        meta = {},
        res = {},
        multiCriteria = ["feature"];

    data.then(function(data) {
      store.then(function(store) {

        tags = _.chain(store)
          .reduce(function(memo, val) {
              if (val.tags) memo.push(val.tags);
              return memo;
            }, [])
          .unique()
          .value();

        meta = _.reduce(store, function(memo, val) {
              var cur = val;
              _.chain(val)
                .keys(val)
                .filter(function(v){return (cur[v]!="" && v!="name" && v!="description" && v!="keywords" && v!="tags");})
                .each(function(v,k, l) {
                  if (!memo[v]) memo[v] = [] 
                  memo[v].push(cur[v])
                })
                .value();
              return memo;
            }, [])

        _.chain(meta)
          .keys()
          .filter(function(k){return (k.lastIndexOf("feature_",0) !== 0)})
          .each(function(k){
            meta[k] = _.unique(meta[k]);
            if (k!="content_type")
            _.each(meta[k], function(v) {
              $('#' + k + '_criteria').append(
                '<div class="checkbox">' +
                ' <label>' +
                '    <input type="checkbox" value="' + v + '">' +
                '    <span>' + v +'</span>' + 
                '  </label>' +
                '</div>');
            });
          })
        // Deal with multicolumn criteria 

        _.each(multiCriteria, function(mc) {
          _.chain(meta)
           .keys()
           .filter(function(k){return (k.lastIndexOf(mc,0) === 0)})
           .each(function(k){
              $('#' + mc + '_multicriteria').append(
                '<div id="' + k + '_criteria" class="checkbox">' +
                ' <label>' +
                '    <input type="checkbox" value="Yes">' +
                '    <span>' + makeTitle(k.replace(mc + '_','')) +'</span>' + 
                '  </label>' +
                '</div>');
            })
        })

        var ks = _.keys(store);
        var results = _.chain(ks)
                       .filter(function(k){ return (store[k].content_type=="tool" && store[k].published!="No")})
                       .map(function(k) {
                         // add store key of object as path key of array object
                         var ret = _.extend( { path: k.replace(".md", ".html") } , store[k] );
                         return ret;
                       })
                       .value()

        var FJS = FilterJS(results, '#results', {
          template: '#result-template',
          search: {ele: '#searchbox'},
          //search: {ele: '#searchbox', fields: ['runtime']}, // With specific fields
          callbacks: {
            afterAddRecords: function(records){
              $('#total_results').text('Found : ' + records.length);

              updateCounts(meta, records);

            },
            afterFilter: function(result){
              if(!result.length){
                 $('#total_results').text("No results found");
              }
              else
              {
                  $('#total_results').text('Found : ' + result.length);
              }

              updateCounts(meta, result);

            }
          }
          //appendToContainer: appendToContainer
        });

        FJS.addCriteria({field: 'content_type', ele: '#content_type_criteria input:checkbox'});

//        FJS.addCriteria({field: 'library', ele: '#tool_features_library'});
//        FJS.addCriteria({field: 'maps', ele: '#tool_features_maps'});

        _.chain(meta)
         .keys()
         .filter(function(k){ return _.any(multiCriteria, function(mc) {return (k.lastIndexOf(mc + '_',0) !== 0)}) })
         .each(function(k){
            FJS.addCriteria({field: k, ele: '#' + k + '_criteria input:checkbox'});
          })

        // Deal with multicolumn criteria 

        _.each(multiCriteria, function(mc) {
          _.chain(meta)
           .keys()
           .filter(function(k){return (k.lastIndexOf(mc,0) === 0)})
           .each(function(k){
              FJS.addCriteria({field: k, ele: '#' + k + '_criteria input'});
            })
        })


      })
    })
/*
    data.then(function(data){
        // create index
        index = lunr.Index.load(data)
        store.then(function(store) {
          var array = $.map(store, function(value, index) {
              return [$.extend({},value, {ref: index})];
          });
          results_store = prepareResults(array,store)
          res = renderResults(results_store)
        });

        $('.search-results').empty().append( res.nb ?
          res.html : $('<p><strong>No results found</strong></p>')
        );

        $('.total-results').text(res.nb);

    });
*/
  
  function updateCounts(meta, res) {
  _.chain(meta)
   .keys()
   .filter(function(k){ return _.any(multiCriteria, function(mc) {return (k.lastIndexOf(mc + '_',0) !== 0)}) })
   .each(function(k){
      var checkboxes  = $('#' + k + '_criteria :input');
      var qResult = JsonQuery(res);

      checkboxes.each(function(){
        var c = $(this)
        var q = {};
        q[k] = c.val();
        var count = qResult.where(q).count;
        c.next().text(c.val() + ' (' + count + ')')
      });
    })

    _.each(multiCriteria, function(mc) {
      _.chain(meta)
       .keys()
       .filter(function(k){return (k.lastIndexOf(mc,0) === 0)})
       .each(function(k){
          var checkboxes  = $('#' + k + '_criteria :input');
          var qResult = JsonQuery(res);

          checkboxes.each(function(){
            var c = $(this)
            var q = {};
            q[k] = c.val();
            var count = qResult.where(q).count;
            c.next().text(makeTitle(k.replace(mc + '_','')) + ' (' + count + ')')
          });
        })
    })
  }

});

function prepareResults(results, store) {
    var results_store = results
    .map(function(result){
      return $.extend({}, store[result.ref], { path : result.ref.replace(".md", ".html"), score: result.score });
    })
    .sort(function (a, b) {
      return b.score - a.score
    })

    return results_store;
}

function renderResults(results) {
  return {
    results: results,
    html: nunjucks.render('results.html', { results: results }),
    nb: results.length
  }
}

function initFacets(){
  $('#content_type_criteria :checkbox').prop('checked', true);
  $('#content_type_audience').on('click', function(){
    $('#content_type_criteria :checkbox').prop('checked', $(this).is(':checked'));
  });

}

function makeTitle(slug) {
    var words = slug.split('_');

    for(var i = 0; i < words.length; i++) {
      var word = words[i];
      words[i] = word.charAt(0).toUpperCase() + word.slice(1);
    }

    return words.join(' ');
}

</script>
{% endblock %}
