{% extends "layouts/default.html" %}

{% block main %}
<div class="row">
  <div class="col-md-12" role="main">
    <div class="visual_search"></div>
  </div>
</div>
<div class="row">
  <div class="col-md-12" role="main">
    <div class="search-results"></div>
  </div>
</div>
{% endblock %}

{% block js %}

<script type="text/javascript" charset="utf-8">
  $(document).ready(function() {
    var visualSearch = VS.init({
      container : $('.visual_search'),
      query     : '',
      callbacks : {
        search       : function(query, searchCollection) {},
        facetMatches : function(callback) {},
        valueMatches : function(facet, searchTerm, callback) {}
      }
    });
  });
</script>
{% endblock %}
