---
layout: base
---

<header class="intro-header" style="background-image: url('/assets/images/logo.png')">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <div class="site-heading">
          <h1>Influence Mapping Toolbox</h1>
          <hr class="small">
          <span class="subheading">Helping you explore the influence of personal ties, economic interests and other relationships on politics and society</span>
        </div>
      </div>
    </div>
  </div>
</header>

<div id="page">
  <div class="container-fluid" id="main">
    {{content}}
  </div>
</div>
