---
layout: default
---

<h1 class="page-heading">{{page.title}}</h1>

<div class="row">
  <div class="col-md-8">
    <div id="content">
      {{content}}
    </div>
  </div>
  <div class="col-md-4">
    <div class="side-nav">
      <h4>London Conference 2015</h4>
      <ul>
        <li><a href="index.html">Overview / Schedule</a></li>
        <li><a href="what_problem_are_we_solving.html">What problems are we trying to solve?</a></li>
        <li><a href="user_needs.html">User needs in investigative journalism</a></li>
        <li><a href="lessons_from_opencorporates.html">Lessons from OpenCorporates</a></li>
        <li><a href="collaboration_business_models.html">Collaboration &amp; Business Models</a></li>
        <li><a href="data_standards.html">"Who's got dirt?" API</a></li>
        <li><a href="toolbox.html">Influence Mapping Toolbox</a></li>
        <li><a href="tools_resources.html">Tools &amp; Resources</a></li>
      </ul>
      <strong>Document Management Tools</strong>
      <ul>
        <li><a href="documentcloud.html">DocumentCloud</a></li>
        <li><a href="investigative_dashboard.html">Investigative Dashboard</a></li>
        <li><a href="icij_leak_refinery.html">The Leak Refinery</a></li>
        <li><a href="tamedia.html">Tamedia</a></li>
      </ul>
      <strong>Entity Relationship Tools</strong>
      <ul>
        <li><a href="future_crime.html">Future Crime Detection</a></li>
        <li><a href="oligrapher.html">Oligrapher</a></li>
        <li><a href="nodemapper.html">NodeMapper</a></li>
      </ul>
    </div>
  </div>
</div>
